/* some style */

body {
    overflow:hidden;
    position: relative;
}

ul {
  list-style: none;
  margin:0;
  display: block;
  overflow: hidden;
  padding:0
}

li {
    padding: 5px;
    border: 1px solid white;
    background:#e2e2e2;
    min-height: 1em;
}

li.hoverbar {
    min-height: 
    border: none;
    box-shadow: 0 -2px #222; 
    height: 0;
    padding: 0;
}
