/* some style */

ul {
  list-style: none;
  margin:0;
  padding:0
}

li {
    padding: 5px;
    border: 1px solid white;
    background:#e2e2e2;
    min-height: 1em;
}

li.placeholder {
    min-height: 0; 
    border: none;
    border-top: 2px solid #222;
    height: 0;
    padding: 0;
}

li.dummy-element {
    background: none;
}